<div class="jumbotron">
	<h1>@<%= @user.username %>'s Profile &amp; Tweets</h1>
</div>

<div class="row center-it">
	<div class="col-md-offset-4 col-md-2">
		<p>TWEETS</p>
		<p><%= link_to @user.tweets.count, show_user_path(id: @user.id) %></p>
	</div>
	<div class="col-md-2">
		<p>FOLLOWING</p>
		<p><%= link_to @user.following.count, following_path(id: @user.id) %></p>
	</div>
	<div class="col-md-2">
		<p>FOLLOWERS</p>
		<p><%= link_to @followercount, followers_path(id: @user.id) %></p>
	</div>
</div>

<div class="row">
	<%= render 'userstats' %>
	<div class="col-md-8 col-md-offset-1">
		<div class="row">
			<div class="col-md-12 borderline">
				<h2>Tweets</h2>
			</div>
		</div>

		<div class="row">
			<% @user.tweets.order(created_at: :desc).each do |tweet| %>
				<div class="col-md-12 borderline tweet-area">
					<p>
						<%= link_to tweet.user.name, show_user_path(id: tweet.user.id) %> <%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user.id) %> &#8226; <%= time_ago_in_words(tweet.created_at) %>
					</p>
					<p><%= tweet.message %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>